<div class="container mt-5">
  <div class="card">
    <div class="row g-0">
      <div
        class="col-md-4 d-flex align-items-center justify-content-center bg-light"
      >
        <img
          [src]="pokemon().picture"
          class="img-fluid rounded-start"
          [alt]="pokemon().name"
        />
      </div>
      <div class="col-md-8">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="card-body">
            <h2 class="card-title">{{ pokemon().name }}</h2>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">Name</th>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="name"
                      placeholder="Nom du Pokémon"
                    />
                  </td>
                </tr>
                <tr>
                  <th scope="row">Points de vie</th>
                  <td>
                    <div class="input-group">
                      <button
                        type="button"
                        class="btn btn-outline-secondary"
                        [disabled]="
                          pokemonLife.value <= POKEMON_RULES().MIN_LIFE
                        "
                        (click)="decrementLife()"
                      >
                        -
                      </button>
                      <input
                        type="number"
                        class="form-control text-center"
                        formControlName="life"
                        readonly
                      />
                      <button
                        type="button"
                        class="btn btn-outline-secondary"
                        [disabled]="
                          pokemonLife.value >= POKEMON_RULES().MAX_LIFE
                        "
                        (click)="incrementLife()"
                      >
                        +
                      </button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Dégâts</th>
                  <td>
                    <div class="input-group">
                      <button
                        type="button"
                        class="btn btn-outline-secondary"
                        [disabled]="
                          pokemonDamage.value <= POKEMON_RULES().MIN_DAMAGE
                        "
                        (click)="decrementDamage()"
                      >
                        -
                      </button>
                      <input
                        type="number"
                        formControlName="damage"
                        class="form-control text-center"
                        readonly
                      />
                      <button
                        type="button"
                        class="btn btn-outline-secondary"
                        [disabled]="
                          pokemonDamage.value >= POKEMON_RULES().MAX_DAMAGE
                        "
                        (click)="incrementDamage()"
                      >
                        +
                      </button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Types</th>
                  <td>
                    @for(type of pokemonTypeList.controls; track type; let index
                    = $index) {
                    <button
                      type="button"
                      class="btn btn-secondary btn-sm rounded-pill me-2"
                      (click)="pokemonTypeList.removeAt(index)"
                    >
                      {{ type.value }} <span class="badge">x</span>
                    </button>
                    }
                    <div class="row mt-3">
                      @for(type of pokemonService.getPokemonTypeList(); track
                      type) {
                      <div class="col-md-4">
                        <div class="form-check">
                          <input
                            #checkbox
                            class="form-check-input"
                            type="checkbox"
                            [checked]="isPokemonTypeSelected(type)"
                            [disabled]="isPokemonTypeSelected(type)"
                            (change)="
                              onPokemonTypeChange(type, checkbox.checked)
                            "
                            [value]="type"
                            [id]="type"
                          />
                          <label class="form-check-label" [for]="type">
                            {{ type }}
                          </label>
                        </div>
                      </div>
                      }
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-between mt-4">
              <button
                class="btn btn-link text-decoration-none text-warning"
                [routerLink]="['/pokemons', pokemon().id]"
              >
                RETOUR
              </button>
              <button
                type="submit"
                class="btn btn-link text-decoration-none text-warning"
              >
                SAUVEGARDER LES CHANGEMENTS
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
