<div class="container mt-5">
  <div class="card">
    <div class="row g-0">
      <div
        class="col-md-4 d-flex align-items-center justify-content-center bg-light"
      >
        <img
          [src]="pokemon().picture"
          class="img-fluid rounded-start"
          [alt]="pokemon().name"
        />
      </div>
      <div class="col-md-8">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="card-body">
            <h2 class="card-title">{{ pokemon().name }}</h2>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">Name</th>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      [class.is-invalid]="pokemonName.invalid"
                      formControlName="name"
                      placeholder="Nom du Pokémon"
                    />
                    <div>
                      {{ pokemonName.errors | json }}
                    </div>
                    @if(pokemonName.hasError('required')) {
                    <div class="invalid-feedback">
                      Veuillez renseigner ce champ.
                    </div>
                    } @if(pokemonName.hasError('minlength')) {
                    <div class="invalid-feedback">
                      Veuillez saisir un nom plus long. (Minimum :
                      {{ pokemonName.getError("minlength").requiredLength }}
                      caractères)
                    </div>
                    } @if(pokemonName.hasError('maxlength')) {
                    <div class="invalid-feedback">
                      Veuillez saisir un nom plus court. (Maximum :
                      {{ pokemonName.getError("maxlength").requiredLength }}
                      caractères)
                    </div>
                    } @if(pokemonName.hasError('pattern')) {
                    <div class="invalid-feedback">
                      Veuillez saisir uniquement des lettres.
                    </div>
                    }
                  </td>
                </tr>
                <tr>
                  <th scope="row">Points de vie</th>
                  <td>
                    <div class="input-group">
                      <button
                        type="button"
                        class="btn btn-outline-secondary"
                        [disabled]="
                          pokemonLife.value <= POKEMON_RULES().MIN_LIFE
                        "
                        (click)="decrementLife()"
                      >
                        -
                      </button>
                      <input
                        type="number"
                        class="form-control text-center"
                        formControlName="life"
                        readonly
                      />
                      <button
                        type="button"
                        class="btn btn-outline-secondary"
                        [disabled]="
                          pokemonLife.value >= POKEMON_RULES().MAX_LIFE
                        "
                        (click)="incrementLife()"
                      >
                        +
                      </button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Dégâts</th>
                  <td>
                    <div class="input-group">
                      <button
                        type="button"
                        class="btn btn-outline-secondary"
                        [disabled]="
                          pokemonDamage.value <= POKEMON_RULES().MIN_DAMAGE
                        "
                        (click)="decrementDamage()"
                      >
                        -
                      </button>
                      <input
                        type="number"
                        formControlName="damage"
                        class="form-control text-center"
                        readonly
                      />
                      <button
                        type="button"
                        class="btn btn-outline-secondary"
                        [disabled]="
                          pokemonDamage.value >= POKEMON_RULES().MAX_DAMAGE
                        "
                        (click)="incrementDamage()"
                      >
                        +
                      </button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Types</th>
                  <td>
                    @for(type of pokemonTypeList.controls; track type; let index
                    = $index) {
                    <button
                      type="button"
                      class="btn btn-secondary btn-sm rounded-pill m-1"
                      (click)="pokemonTypeList.removeAt(index)"
                      [style.backgroundColor]="getPokemonColor(type.value)"
                      [style.color]="
                        type.value === 'Electrik' ? 'black' : 'white'
                      "
                    >
                      {{ type.value }}
                      <span
                        class="badge"
                        [style.color]="
                          type.value === 'Electrik' ? 'black' : 'white'
                        "
                        >x</span
                      >
                    </button>
                    } @if(pokemonTypeList.hasError('required')) {
                    <p class="text-danger">
                      Veuillez sélectionner au moins un type pour un Pokémon.
                    </p>
                    } @if(pokemonTypeList.hasError('maxlength')) {
                    <p class="text-danger">
                      Veuillez sélectionner au maximum
                      {{ pokemonTypeList.getError("maxlength").requiredLength }}
                      types pour un Pokémon.
                    </p>
                    }
                    <div class="row mt-3">
                      @for(type of pokemonService.getPokemonTypeList(); track
                      type) {
                      <div class="col-md-4">
                        <div class="form-check">
                          <input
                            #checkbox
                            class="form-check-input"
                            type="checkbox"
                            [checked]="isPokemonTypeSelected(type)"
                            [disabled]="isPokemonTypeSelected(type)"
                            (change)="
                              onPokemonTypeChange(type, checkbox.checked)
                            "
                            [value]="type"
                            [id]="type"
                          />
                          <label class="form-check-label" [for]="type">
                            {{ type }}
                          </label>
                        </div>
                      </div>
                      }
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-between mt-4">
              <button
                class="btn btn-link text-decoration-none text-warning"
                [routerLink]="['/pokemons', pokemon().id]"
              >
                RETOUR
              </button>
              <button
                type="submit"
                class="btn btn-link text-decoration-none"
                [class.text-warning]="form.valid"
                [class.text-secondary]="form.invalid"
                [disabled]="form.invalid"
              >
                SAUVEGARDER LES CHANGEMENTS
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
